{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

        <div class="example-wrapper">
            <h1>Bienvenue</h1>

          Choisissez votre festival : 
            
             {% for festival in festivals %}
         <div><a href="{{ path('app_home', {'id': festival.id}) }}">{{festival.name}}</a></div>
         {% endfor %}
        </div>

        <div class="mb-3">
            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
        <div>
            <a href="{{ path('app_artist_index') }}">Voir Artiste</a>
            <a href="{{ path('app_event_category_index') }}">Voir catégorie event</a>
            {# <a href="{{ path('app_event_index') }}">Festival</a> #}
            <a href="{{ path('app_festival_index') }}">Voir festival</a>
            <a href="{{ path('app_location_category_index') }}">Voir catégorie location</a>
            <a href="{{ path('app_location_index') }}">Voir location</a>
            <a href="{{ path('app_music_genre_index') }}">Voir genre musicale</a>
            <a href="{{ path('app_notification_index') }}">Voir notifiacations</a>

        </div>

        </div>

{% endblock %}
