{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

        <div class="example-wrapper">
            <h1>Bienvenue</h1>

          Choisissez votre festival : 
            
             {% for festival in festivals %}
            <div><a href="{{ path('app_festival', {'id': festival.id}) }}">{{festival.name}}</a></div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin', {'id': festival.id}) }}">Gérer le festival</div>
            {% endif %}

         {% endfor %}
        </div>

        <div class="mb-3">
            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>


{% endblock %}
