{% extends 'base.html.twig' %}

{% block title %}Map
{% endblock %}

{% block body %}
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

<h1>Map</h1>

<p id="latitude"></p>
<p id="longitude"></p>

<div id="map" style="width: 100%; height: 500px;"></div>

<h1>Locations</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for location in locations %}
			<tr>
				<td>{{ location.id }}</td>
				<td>{{ location.name }}</td>
				<td>{{ location.description }}</td>
				<td>{{ location.latitude }}</td>
				<td>{{ location.longitude }}</td>
				<td>
					<a href="{{ path('app_location_show', {'id': location.id}) }}">show</a>
					<a href="{{ path('app_location_edit', {'id': location.id}) }}">edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="6">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script src="{{asset('js/mapStyles.js')}}"></script>
<script>
 var userLat, userLng;

    // Obtient la position de l'utilisateur
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                userLat = position.coords.latitude;
                userLng = position.coords.longitude;
                document.getElementById('latitude').textContent = 'Latitude : ' + userLat;
                document.getElementById('longitude').textContent = 'Longitude : ' + userLng;
                // Initialise la carte après avoir obtenu la position de l'utilisateur
                initMap();
            });
        } else {
            console.log('La géolocalisation n\'est pas prise en charge par ce navigateur.');
            // Initialise la carte même si la géolocalisation n'est pas prise en charge
            initMap();
        }
    }

    getLocation();

    function initMap() {
        var center = {lat: userLat, lng: userLng};
        
        if (typeof userLat === "undefined" || typeof userLng === "undefined") {
            // Utilise la première localisation comme centre si la position de l'utilisateur n'est pas disponible
            center = new google.maps.LatLng({{ locations[0].latitude }}, {{  locations[0].longitude }});
        }
        
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: center,
            styles: mapStyles
        });

        // Place un marqueur à la position de l'utilisateur
        if (typeof userLat !== "undefined" && typeof userLng !== "undefined") {
        var userMarker = new google.maps.Marker({
            position: new google.maps.LatLng(userLat, userLng),
            map: map,
            title: "Your Location"
        });
    }

        {% for location in locations %}
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ location.latitude }}, {{ location.longitude}}),
            map: map,
            icon: {
            url: "{{asset('images/bars-solid.svg')}}", // URL de l'image
            scaledSize: new google.maps.Size(50, 50), // taille de l'image
            origin: new google.maps.Point(0,0), // origine
            anchor: new google.maps.Point(0, 0) // ancre
    }

        });
        {% endfor %}
    }

    google.maps.event.addDomListener(window, 'load', getLocation);
</script>
	
	{% endblock %}
