{% extends 'base.html.twig' %}

{% block title %}
	page festival
{% endblock %}
{% block style %}
	rel="stylesheet" href="{{asset('css/admin.css')}}"
{% endblock %}

{% block body %}

<div class="w-full text-center">
    <h1 class="text-2xl font-semibold text-sky-900 border-b-2 border-sky-600 uppercase"> {{festival.name}} </h1>
    <section class="bg-red-400 font-medium text-lg h-12 text-white d-flex justify-center items-center border-b-2 border-sky-600">
        {% for notification in notifications %}
            {% if notification.important %}
                <div>{{notification.content}}
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <section class="border-b-2 border-sky-600 h-24 d-flex flex-col justify-center items-center">
        <h2 class="uppercase mb-0.5"> Programme du jour : </h2>
        {% for event in events %}
            {{ event.name }}
        {% endfor %}
    </section>
    <section class="border-b-2 text-3xl border-sky-600 bg-sky-600 text-white d-flex uppercase justify-center items-center h-16">
        <h2>
            BILLETERIE
        </h2>
    </section>
    <section class="notification-section border-b-2 border-sky-600 h-12 d-flex justify-center items-center">
        {% for notification in notifications %}
            {% if notification.important == false %}
                <div>{{notification.content }}
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <section class="map-section">
    <div id="map" style="width: 100%; height: 500px;"></div>
    </section>
</div>


<script src="{{asset('js/mapStyles.js')}}"></script>
<script>
 var userLat, userLng;

    // Obtient la position de l'utilisateur
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                userLat = position.coords.latitude;
                userLng = position.coords.longitude;
                // Initialise la carte après avoir obtenu la position de l'utilisateur
                initMap();
            });
        } else {
            console.log('La géolocalisation n\'est pas prise en charge par ce navigateur.');
            // Initialise la carte même si la géolocalisation n'est pas prise en charge
            initMap();
        }
    }

    getLocation();

    function initMap() {
        var center = {lat: userLat, lng: userLng};
        
        if (typeof userLat === "undefined" || typeof userLng === "undefined") {
            // Utilise la première localisation comme centre si la position de l'utilisateur n'est pas disponible
            center = new google.maps.LatLng({{ locations[0].latitude }}, {{  locations[0].longitude }});
        }
        
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: center,
            styles: mapStyles
        });

        // Place un marqueur à la position de l'utilisateur
        if (typeof userLat !== "undefined" && typeof userLng !== "undefined") {
        var userMarker = new google.maps.Marker({
            position: new google.maps.LatLng(userLat, userLng),
            map: map,
            title: "Your Location",
            icon: {
            url: "{{asset('images/user.svg')}}", 
            scaledSize: new google.maps.Size(25, 25), 
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(0, 0)
            }
        });
    }
    {% for location in locations %}
        (function() {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ location.latitude }}, {{ location.longitude}}),
                map: map,
                icon: {
                    url: "{{asset('images/restaurant.svg')}}",
                    scaledSize: new google.maps.Size(25, 25),
                    origin: new google.maps.Point(0,0),
                    anchor: new google.maps.Point(0, 0)
                }
            });

            var infowindow = new google.maps.InfoWindow({
                content: '<h3>{{ location.name|escape('js') }}</h3>'
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);

            });
        })();
    {% endfor %}

    }

    google.maps.event.addDomListener(window, 'load', getLocation);
    </script>
    </section>
	</div>
{% endblock %}
