{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="bg-gray-900 text-white example-wrapper p-5 min-h-screen">
        <h1 class="font-bold text-5xl mb-2 uppercase text-center">Bienvenue sur la page administrateur</h1>
        <h2 class="text-2xl mb-2 text-center">Choisissez parmis les éléments ci-dessous celui que vous voulez modifier et laissez vous guider.</h2>

        <div class="mt-9">
            <div class="grid gap-4 grid-cols-4 pb-5">
                <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg border">
                    <h2 class="font-bold text-xl mb-2">Artistes</h2>
                    <a href="{{path('app_artist_index')}}" class="">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Accéder à l'index des artistes
                        </div>
                    </a>
                    <a href="{{path('app_artist_new')}}" class="">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Créer un nouvel artiste
                        </div>
                    </a>
                </div>

                <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg border">
                    <h2 class="font-bold text-xl mb-2">Evènements</h2>
                    {# <a href="{{path('app_event_index')}}" class="btn "> #}
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Accéder à l'index des évènements
                        </div>
                    </a>
                    {# <a href="{{path('app_event_new')}}" class="btn "> #}
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Créer un nouvel évènement
                        </div>
                    </a>
                </div>

                <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg border">
                    <h2 class="font-bold text-xl mb-2">Festival</h2>
                    <a href="{{path('app_festival_index')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Accéder à l'index des Festivals
                        </div>
                    </a>
                    <a href="{{path('app_festival_new')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Créer un nouveau Festival
                        </div>
                    </a>
                </div>

                <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg border">
                    <h2 class="font-bold text-xl mb-2">Lieux</h2>
                    <a href="{{path('app_location_index')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Accéder à l'index des lieux
                        </div>
                    </a>
                    <a href="{{path('app_location_new')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Créer un nouveau lieu
                        </div>
                    </a>
                </div>
            </div>

            <div class="grid gap-4 grid-cols-4">
                <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg border">

                    <h2 class="font-bold text-xl mb-2">Notifications</h2>
                    <a href="{{path('app_notification_index')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Accéder à l'index des notifications
                        </div>
                    </a>
                    <a href="{{path('app_notification_new')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Créer une nouvelle notification
                        </div>
                    </a>
                </div>

                <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg border">
                    <h2 class="font-bold text-xl mb-2">Genre musical</h2>
                    <a href="{{path('app_music_genre_index')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Accéder à l'index des genres musicaux
                        </div>
                    </a>
                    <a href="{{path('app_music_genre_new')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Créer un nouveau genre musical
                        </div>
                    </a>
                </div>

                <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg border">
                    <h2 class="font-bold text-xl mb-2">type de lieux</h2>
                    <a href="{{path('app_location_category_index')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Accéder à l'index des type de lieux
                        </div>
                    </a>
                    <a href="{{path('app_location_category_new')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Créer un nouveau type de lieux
                        </div>
                    </a>
                </div>
                
                <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg border">
                    <h2 class="font-bold text-xl mb-2">type d'évènement</h2>
                    <a href="{{path('app_event_category_index')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Accéder à l'index des types d'évènenement
                        </div>
                    </a>
                    <a href="{{path('app_event_category_new')}}" class="btn ">
                        <div class="mt-6 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 text-center rounded focus:outline-none focus:shadow-outlin">
                            Créer un nouveau type d'évènenement
                        </div>
                    </a>
                </div>
            </div>
    </div>

{% endblock %}
