<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
       <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfh6E4gClmwOAfjx9hD9WrzmRWNWff1ko"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    </head>
    {% include 'partials/navbar.html.twig' %}
    {% if app.user %}
        <body>
            {% block body %}{% endblock %}
        </body>
    {% else %}
        <body>
            <div class="mb-3">
                Vous devez être inscrit ou connecté pour consulter les pages : 
                <a href="{{ path('app_login') }}">Login</a> 
                <a href="{{ path('app_register') }}">Signup</a>
            </div>
        </body>
    {% endif %}
</html>
